{% extends "__base.html" %}

{% block title %}{{ article.title|striptags }} – {{ SITENAME }}{% endblock %}

{% block content %}

<div>
    <a class="icon icon-bracket1" href="{{ SITEURL }}/blog.html">Go back to the blog</a>
</div>

<section class="article">
    <article>
        <h2 class="entry-title">
            {{ article.title }}
            <span class="entry-category">in “<a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>”</span>
        </h2>

        <div class="entry-info">
            <span class="entry-date">
                {{ article.locale_date }}
            </span>
        </div>

        <div class="entry-content">
            {{ article.content }}
        </div>
    </article>
</section>
{% endblock %}
