{% extends "__base.html" %}

{% block content %}

<section class="list-articles">
    {% for article in articles_page.object_list %}
        <article>
            <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>

            <div class="entry-date">
                {{ article.locale_date }}
            </div>

            <div class="entry-summary">
                {{ article.summary }}
            </div>

            <div class="continue-reading">
                <a href="{{ SITEURL }}/{{ article.url }}">Read more…</a>
            </div>
        </article>
    {% else %}
        <div>Nothing has been published yet!</div>
    {% endfor %}
</section>

{% endblock %}
