{% extends "__base.html" %}

{% block title %}{{ category }} – {{ super() }}{% endblock %}

{% block content %}

<div class="category-title"><h1>Articles from “{{ category }}”</h1></div>

<div>
    {% if CATEGORY_FEED_ATOM %}
        <a class="icon icon-rss" href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}">Follow</a>
    {% elif CATEGORY_FEED_RSS %}
        <a class="icon icon-rss" href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}">Follow</a>
    {% endif %}
    <a class="icon icon-bracket1" href="{{ SITEURL }}/blog.html">Go back to the blog</a>
</div>

{% include '_pagination.html' %}

<section class="list-articles">
    {% for article in articles_page.object_list %}
        <article>
            <h2 class="entry-title">
                {{ article.title }}
            </h2>

            <div class="entry-info">
                <span class="entry-date">
                    {{ article.locale_date }}
                </span>
                <span class="entry-permalink">
                    ⋅ <a href="{{ SITEURL }}/{{ article.url }}">{{ SITEURL }}/{{ article.url }}</a>
                </span>
            </div>

            <div class="entry-content">
                {{ article.content }}
            </div>
        </article>
    {% endfor %}
</section>

{% include '_pagination.html' %}

{% endblock %}
